html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	height: 100%;
	width: 100%;
	/* overflow: hidden; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
* {
	outline: none;
}
html {
	background: rgba(43, 119, 155, 0.719);
}
div.container {
	height: 300px;
	width: 500px;
	background: #dddddf;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
div.container div.title {
	width: 100%;
	padding: 10px;
	background: linear-gradient(to right, #0173ffb7, #588de4, rgba(27, 48, 240, 0.466), #4400ff3d);
	color: #fff;
	text-align: center;
	font-weight: bold;
}
div.container div.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - 50px);
}
div.container div.content div.description {
	font-size: 12px;
	padding: 10px;
	text-align: center;
}
div.content div.inputContainer{
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100px;
	width: 100%;
}
div.content div.inputContainer input{
	height: 30px;
	width: 80%;
	outline: none;
	border: 1.5px #000 solid;
	background: transparent;
}
button#confirmBtn {
	width: 100px;
	height: 50px;
	margin: 10px;
	background: #b7b6bb;
	color: #000;
	border: 1.5px solid #939394;
	color: #fff;
	text-shadow: 1px 1px 1px #9f9f9f;
	font-weight: bold;
	cursor: pointer;
}